<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/dashboard.css" rel="stylesheet">

  </head>
  <style media="screen">
    h4{
      display: inline;
      font-size: 14px;
      margin: 5px 5px 5px 0;
    }
    .navbar-right h4{
      font-size: 12px;
      margin: 0;
    }
    td{
      align: center !important;
    }
    thead tr th{
      width: 25%;
    }
  </style>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">钟文智博客系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><h4 class="glyphicon glyphicon-user"></h4>
              <%if (login) {%>
                欢迎<%=username%>
              <%}%></a></li>
            <li><a href="/loginout"><h4 class="glyphicon glyphicon-flag"></h4>退出</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar blog-nav-item">
            <li ><a href="/admin"><h4 class="glyphicon glyphicon-file"></h4>文章列表  <span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/essay/add"><h4 class="glyphicon glyphicon-pencil"></h4>添加文章</a></li>
            <li class="active"><a href="/admin/category"><h4 class="glyphicon glyphicon-th-list"></h4>分类列表</a></li>
            <li><a href="/admin/category/add"><h4 class="glyphicon glyphicon-plus"></h4>添加分类</a></li>
          </ul>
        </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">分类列表</h1>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>别名</th>
                    <th>时间</th>
                    <th>管理</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i = 0 ; i < categories.length ; i++){%>
                    <tr>
                      <td><%=categories[i].name%></td>
                      <td><%=categories[i].slug%></td>
                      <td><%=moment(categories[i].created).format('YY-MM-DD')%></td>
                      <td>
                        <a href="/category/<%=categories[i].slug%>"><button type="button" name="button" class="btn btn-sm btn-success">查看</button></a>
                        <a href="/category/edit/<%=categories[i]._id %>"><button type="button" name="button" class="btn btn-sm btn-info">编辑</button></a>
                        <a href="/category/delete/<%=categories[i]._id %>"><button type="button" name="button" class="btn btn-sm btn-danger">删除</button></a>
                      </td>
                    </tr>
                  <%}%>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </body>
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/underscore-noflect.js"></script>
  <script type="text/javascript">
    function chooseActive(i){
      $('.blog-nav-item').children().removeClass('active');
      $('.blog-nav-item').children().eq(i).addClass('active');
    }

    // var compiled = _.template($("#moban").html());
    if (window.location.pathname == '/admin/category/') {
      chooseActive(2)
    }
  </script>
</html>
