<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/blog.css" rel="stylesheet">

    <style media="screen">
      .nav-right{
        margin-top: 2px;
      }
    </style>
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">首页</a>
          <a class="blog-nav-item" href="/connect">联系</a>
          <a class="blog-nav-item" href="/about">关于</a>
          <!-- <form class="navbar-right">
            <button type="button" class="btn btn-default btn-ms nav-right" data-toggle="modal" data-target="#myModal-1">登录</button>
            <button type="button" class="btn btn-default btn-ms nav-right" data-toggle="modal" data-target="#myModal-2">注册</button>
          </form> -->
        </nav>
      </div>
    </div>

    <div class="container">
        <div class="blog-header">
        <h1><%=essays[0].author.name%>的博客系统,一共<%=totalCount%>篇博文</h1>
        <!-- <h1><%= essays%></h1> -->
        </div>

        <div class="row">
          <div class="col-sm-8 blog-main">
              <%for(var i = 0 ; i < essays.length ; i++){%>
                <div class="essay-main">
                  <h3><a href="/essay/view/<%=essays[i]._id %>"><%=essays[i].title%></a></h3>
                  <div class="essay-content">
                    <p class="js-essay-content_post"><%=essays[i].content%></p>
                  </div>
                  <div class="essay-meta">
                    <span> 时间:<%=moment(essays[i].created).format('YY-MM-DD')%></span>
                    <span> 作者:<%=essays[i].author.name%></span>
                    <span> 分类:<a href="http://localhost:3000/category/<%=essays[i].category.slug%>"><%=essays[i].category.slug%></a></span>
                    <span> 评论:<%=essays[i].comments.length || 0%></span>
                    <span> 点赞:<%=essays[i].meta.favorates || 0%></span>
                    <span> 类别:<%=essays[i].slug%></span>
                    <span><a href='/essay/view/<%=essays[i]._id %>'>查看全文</a></span>
                  </div>
                </div>
              <%}%>
      <nav aria-label="Page navigation">
      <ul class="pagination">
        <% var currentPage = 1%>
        <%if(pageNum==1){%>
            <li class="hidden"><a href="javascript:void(0)">&laquo;</a></li>
         <%}else{%>
            <%if(totalCount==0){%>
             <li class="hidden"><a href="javascript:void(0)">&laquo;</a></li>
            <%}else{%>
             <li><a href="/essay/?page=<%=(pageNum -1)%>">&laquo;</a></li>
            <%}%>
         <%}%>
        <%for(var i = 0; i < pageCount ; i++) {%>
            <%if (currentPage === pageNum) { %>
              <li class="active"><a href="/essay/?page=<%=(i + 1)%>"><%= (i + 1) %></a></li>
            <%} else {%>
              <li><a href="/essay/?page=<%=(i + 1)%>"><%= (i + 1) %></a></li>
            <% }%>
            <% currentPage++ %>
        <%}%>
        <%if(pageNum==pageCount){%>
            <li class="hidden"><a href="javascript:void(0)">&raquo;</a></li>
         <%}else{%>
            <%if(totalCount==0){%>
             <li class="hidden"><a href="javascript:void(0)">&raquo;</a></li>
            <%}else{%>
             <li><a href="/essay/?page=<%=(pageNum + 1)%>">&raquo;</a></li>
            <%}%>
         <%}%>
      </ul>
    </nav>


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>分类</h4>
            <ol class="list-unstyled">
              <%for (var i = 0; i < categories.length; i++) { %>
                <li><a href="http://localhost:3000/category/<%=categories[i].slug%>"><%=categories[i].slug%></a></li>
              <%}%>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog built by <a href="https://github.com/zxza">@zxza</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- 注册弹窗 -->
    <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">注册</h4>
          </div>
          <div class="modal-body">
            <form action="/checkregister" method="get" class='form-input'>
              <div class="form-group">
               <label for="exampleInputEmail1">Username</label>
               <input type="text" class="form-control" id="js-register-username" placeholder="username"  name="username" >
              </div>
              <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="js-register-password" placeholder="Password" name="password" >
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id='register' class="btn btn-primary">注册</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 登录弹窗 -->
    <div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">登录</h4>
          </div>
          <div class="modal-body">
            <form action="/checklogin" method="get" class='form-input'>
              <div class="form-group">
               <label for="exampleInputEmail1">Username</label>
               <input type="text" class="form-control" id="" placeholder="username"  name="username" >
              </div>
              <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="" placeholder="Password" name="password" >
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">登录</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/template" id="moban">

    </script>


    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/underscore-noflect.js"></script>
    <script type="text/javascript">
    //文章缩略
    if($('.js-essay-content_post').text().length>150){

      $('.js-essay-content_post').text($('.js-essay-content_post').text().substr(0,150) + '...')
    }
    //分页
    //当前页面指向的active
    function chooseActive(i){
      $('.blog-nav-item').siblings().removeClass('active');
      $('.blog-nav-item').eq(i).addClass('active');
    }
    // var compiled = _.template($("#moban").html());
    if (window.location.pathname == '/about') {
      chooseActive(2)
    } else if (window.location.pathname == '/connect') {
      chooseActive(1)
    } else {
      chooseActive(0)
    }

    // $('.blog-nav-item').click(function () {
    //   $('.blog-nav-item').siblings().removeClass('active');
    //   $(this).addClass('active');
    // })
    $('#myModal-1 #myModal-2').click(function(){
        modal()
      }
    );

    $('#register').click(function() {
      console.log(111)
      $.get('/checkregister',{
          "username" : $("#js-register-username").val(),
          "password" : $("#js-register-password").val()
        },function(result) {
          if(result == "1"){
              //注册成功
              alert("注册成功！将自动跳转");
              window.location = "/";
          }else if(result == "-1"){
              $("#cuowukuang").fadeIn();
              $("#cuowukuang").html("用户名不存在");
          }
        }
      )
    });

    </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
